snippet rdm
	import { createModule } from 'redux-modules';

	const module = createModule({
		name: '${1:app}',
		selector: state => state.${2:app},
		initalState: {},
		transformations: [
			{
				type: '${3:initApp}',
				reducer: ${4:(state, { payload }) => state.set('key', payload)},
			}
		],
	});

	export default module;
snippet rdmt
	{
		type: '${1}',
		reducer: ${2},
	}
