snippet rdm
	import { createModule } from 'redux-modules';

	const module = createModule({
		name: '${0}',
		selector: state => state.${1},
		initalState: {},
		transformations: [
			{
				type: '${2}',
				reducer: ${3},
			}
		],
	});
snippet rdmt
	{
		type: '${0}',
		reducer: ${1},
	}
