snippet rdm
	import { createModule } from 'redux-modules';

	const module = createModule({
		name: '${1:app}',
		selector: state => state.${2:app},
		initalState: {},
		transformations: [
			{
				type: '${3:initApp}',
				reducer: (state, { payload }) => {
					return state.set('${4:someKey}', payload);
				}
			}
		],
	});

	export default module;
snippet rdmt
	{
		type: '${1:actionType}',
		reducer: (state, { payload }) => {
			return state.set('${4:someKey}', payload);
		}
	}
